
/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

.rubik {
font-family: 'Rubik', sans-serif;}

.sourcelight {
font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.source {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
}
.sourcemed {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
}

.sourcebold {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
}

* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}


/*font color light-gray*/
.lightgray {
  color: #B3B5B7;
}

.tempy {
  color: #4F545E;
  font-size: 4rem;
}


/*input box style*/
input {
padding: 0px 0px 5px 0px;
border: transparent;
background-color: transparent;
border-bottom: 0px solid #B3B5B7;
}

textarea:focus, input:focus{
    outline: none;
}


/*main flex box*/
.maincontent {
  min-height:100vh;
  position: relative;
  overflow: hidden;
  display:block;
  position: relative;
  padding-bottom: 100px;
}


/*LOLA background image, border adds fake padding   */
.lolas {
  position: absolute;
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  height:75vh;
  width:100%;
  border: 20px solid white;
}


/*2nd half - the content*/
.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
}



/*hides location and other*/
.hidethis {
  display:none;
}



p {
  margin: 0;
  padding:0;
}


img {
  min-width: 100%;
}





/*lola image for temp*/

.warm .lolas {
  background-image: url(/images/lola-cloud.svg);
}

.cold .lolas {
  background-image: url(/images/lola-snow.svg);
}

.hot .lolas {
  background-image: url(/images/lola-hot.svg);
}


.rain .lolas {
  background-image: url(/images/lola-rain.svg);
}

.drizzle .lolas {
  background-image: url(/images/lola-rain.svg);
}

.thunderstorm .lolas {
  background-image: url(/images/lola-rain.svg);
}

.snow .lolas {
  background-image: url(/images/lola-snow.svg);
}



/*media query
@media only screen and (max-width:500px) {
  .lolas {
    margin:0;
    height:70vh;
    width:100%;
  }
  .content {
    width:100vw;
    height:30vh;
  }
  .maincontent {
    flex-direction: column;
    align-items: center;
  }
  /*input box style
  input {
  width:80vw;
  }
}*/


/*animations*/
