
/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

.rubik {
font-family: 'Rubik', sans-serif;}

.sourcelight {
font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.source {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
}
.sourcemed {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
}

.sourcebold {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
}

* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}




.tempy {
  font-size: 5rem;
}







.search-container {
  background-color: white;
    border-radius: 30px;
}

form {
  width: 70vw;
}

.logo {
  width: 30vw;
}



input {
border: transparent;
background-color: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

button {
  float: right;
border: none;
cursor: pointer;
background-color: transparent;
}

button:focus{
    outline: none;
}


/*FONT AWESOME ICONS*/

.fa-search {
  color: #777777;
}
.fa-search:hover {
  color: #357EDD;
}

.fa-arrow-right {
  color: #777777;
}
.fa-arrow-right:hover {
  color: #357EDD;
}

.fa-map-marker-alt {
    color: #777777;
}

.fa-map-marker-alt:hover {
    color: #357EDD;
}




/*main flex box*/
.maincontent {
  position: relative;
  overflow: hidden;
  display:block;
  position: relative;
}


/*LOLA background image, border adds fake padding   */
.lolas {
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  height: 60vh;
  width: 100%;
  border: 20px solid white;

}




/*capitalizing the condition description*/
#condition-description {
  text-transform: capitalize;
}




/*2nd half - use for media query?
.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
}*/



/*hides location and other*/
.hidethis {
  display:none;
}



p {
  margin: 0;
  padding:0;
}


img {
  min-width: 100%;
}



/*heights*/



.hang {
  height: 20px;
}







/*lola image for temp*/

.warm .lolas {
  background-image: url(/images/lola-sweater01.svg);

}

.cold .lolas {
  background-image: url(/images/lola-snow.svg);
}

.hot .lolas {
  background-image: url(/images/lola-marg.svg);
}


.rain .lolas {
  background-image: url(/images/lola-rain.svg);
}

.drizzle .lolas {
  background-image: url(/images/lola-rain.svg);
}

.thunderstorm .lolas {
  background-image: url(/images/lola-rain.svg);
}

.snow .lolas {
  background-image: url(/images/lola-snow.svg);
}


/*media query
@media only screen and (max-width:500px) {
  .search-container {
    width: 100%;
  }

}


@media only screen and (max-width:500px) {
  .lolas {
    margin:0;
    height:70vh;
    width:100%;
  }
  .content {
    width:100vw;
    height:30vh;
  }
  .maincontent {
    flex-direction: column;
    align-items: center;
  }
  /*input box style
  input {
  width:80vw;
  }
}*/


/*animations*/
