
/*fonts*/
/*HK GROTESK*/


@font-face {
    font-family: 'hk_groteskbold';
    src: url('hkgrotesk-bold.eot');
    src: url('hkgrotesk-bold.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-bold.woff2') format('woff2'),
         url('hkgrotesk-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hk_groteskbold_italic';
    src: url('hkgrotesk-bolditalic.eot');
    src: url('hkgrotesk-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-bolditalic.woff2') format('woff2'),
         url('hkgrotesk-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hk_groteskitalic';
    src: url('hkgrotesk-italic.eot');
    src: url('hkgrotesk-italic.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-italic.woff2') format('woff2'),
         url('hkgrotesk-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hk_grotesklight';
    src: url('hkgrotesk-light.eot');
    src: url('hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-light.woff2') format('woff2'),
         url('hkgrotesk-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hk_grotesklight_italic';
    src: url('hkgrotesk-lightitalic.eot');
    src: url('hkgrotesk-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-lightitalic.woff2') format('woff2'),
         url('hkgrotesk-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskmedium';
    src: url('hkgrotesk-medium.eot');
    src: url('hkgrotesk-medium.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-medium.woff2') format('woff2'),
         url('hkgrotesk-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskmedium_italic';
    src: url('hkgrotesk-mediumitalic.eot');
    src: url('hkgrotesk-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-mediumitalic.woff2') format('woff2'),
         url('hkgrotesk-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskregular';
    src: url('hkgrotesk-regular.eot');
    src: url('hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-regular.woff2') format('woff2'),
         url('hkgrotesk-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('hkgrotesk-semibold.eot');
    src: url('hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-semibold.woff2') format('woff2'),
         url('hkgrotesk-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold_italic';
    src: url('hkgrotesk-semibolditalic.eot');
    src: url('hkgrotesk-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('hkgrotesk-semibolditalic.woff2') format('woff2'),
         url('hkgrotesk-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*standard fonts*/
.groteskbold { font-family: 'hk_groteskbold', Arial, sans-serif; }

.grotesksemi { font-family: 'hk_grotesksemibold', Arial, sans-serif; }

.groteskmed { font-family: 'hk_groteskmedium', Arial, sans-serif; }

.grotesk { font-family: 'hk_groteskregular', Arial, sans-serif; }

.grotesklight { font-family: 'hk_grotesklight', Arial, sans-serif; }


/*italics*/
.groteskboldi { font-family: 'hk_groteskbold_italic', Arial, sans-serif; }

.groteskitalic { font-family: 'hk_groteskitalic', Arial, sans-serif; }




* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}











/*input*/
.search-container {
    width:400px;
}


/*
form {
  border-radius: 5px;
}*/


input {
border: transparent;
background-color: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

button {
  float: right;
border: none;
cursor: pointer;
background-color: transparent;
}

button:focus{
    outline: none;
}


@media only screen and (max-width:500px) {
  .search-container {
    width: 90vw;
  }
}


/*FONT AWESOME ICONS*/

.fas {
  color: white;
}



.smalltext {
  font-size: 13px;
}

.medtext {
  font-size: 16px;
}


.tempy {
  font-size: 60px;
}





/*main flex box*/
.maincontent {
  position: relative;
  overflow: hidden;
  display:block;
}


/*LOLA background image, border adds fake padding   */
.lolas {
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  background-color: white;
}


.infobox {
  position: relative;
  top: 40%;
}


/*capitalizing the condition description*/
#condition-description {
  text-transform: capitalize;
}




/*2nd half - use for media query?
.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
}*/



/*hides location and other*/
.hidethis {
  display:none;
}



p {
  margin: 0;
  padding:0;
}


img {
  min-width: 100%;
}



/*line heights*/

.description p {
  line-height: 1.4;
}

.maindiv {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}



/*heights*/



.hang {
  height: 20px;
}

/*Reveal Recommendation per weather*/
.warm .warmpara {
  display: block;
}

.hot .hotpara {
  display: block;
}


.rain .rainpara {
  display: block;
}

.cold .coldpara {
  display: block;
}

.rain .warmpara {
  display: none;
}

.rain .hotpara {
  display: none;
}

.drizzle .hotpara {
  display: none;
}

.rain .coldpara {
  display: none;
}

.thunderstorm .hotpara {
  display: none;
}





/*lola image for temp*/

.warm .lolas {
  background-image: url(/images/lola-pbr2.png);
}

.cold .lolas {
  background-image: url(/images/lola-cold.svg);
}

.hot .lolas {
  background-image: url(/images/hot-bg3.png);
}


.rain .lolas {
  background-image: url(/images/lola-rain01.svg);
}

.drizzle .lolas {
  background-image: url(/images/lola-rain01.svg);
}

.thunderstorm .lolas {
  background-image: url(/images/lola-rain01.svg);
}

.snow .lolas {
  background-image: url(/images/lola-cold.svg);
}



/*ANIMATIONS*/

.cloudyday {
  height: 25%;
  width: 25%;
  position: relative;
}

.cloudyday2 {
  height: 25%;
  width: 25%;
  position: relative;
}

.clouds .cloudyday {
  display: block;
  top: 10%;
  background-image: url(/images/cloud-test.svg);
  background-repeat: no-repeat;
  animation-name: cloudyday;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.clouds .cloudyday2 {
  display: block;
  top: 10%;
  background-image: url(/images/cloud-test.svg);
  background-repeat: no-repeat;
  animation-name: cloudyday2;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloudyday {
  0% {left: -100%;}
  100% {left: 300%;}
}

@keyframes cloudyday2 {
  0% {right: -200%;}
  100% {right: 100%;}
}


@media only screen and (max-width:500px) {
  .lolas {
    height: 60vh;
  }

}
/*media query
@media only screen and (max-width:500px) {
  .search-container {
    width: 100%;
  }

}


@media only screen and (max-width:500px) {
  .lolas {
    margin:0;
    height:70vh;
    width:100%;
  }
  .content {
    width:100vw;
    height:30vh;
  }
  .maincontent {
    flex-direction: column;
    align-items: center;
  }
  /*input box style
  input {
  width:80vw;
  }
}*/


/*animations*/
